<!-- start social ul include -->
                    <ul class="list-inline text-center">
                        <li>
                        <!-- add class="reversed" to the a tag if want to reverse colouring on these to blue by default -->
                            <a href="https://180steps.bandcamp.com/releases">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-bandcamp fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/180steps">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://soundcloud.com/180steps">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
<!-- end social ul include -->